<div class="container mt-3">
    <div class="jumbotron">
        {{#if PRODUCTOS_FAKER}}
        
            {{> historico}}
        
        {{else}}
            <h2 style="color:crimson;">Centro de mensajes (Compresión: <span id="porcentaje"></span>%) </h2>
            {{> form }}
            {{> historialMensajes }}
            {{> formMensajes}}

        {{/if}}
    </div>
</div>